<div class="row">
    <div class="col-xs-12 col-sm-2 col-md-2 col-lg-2">
        <img src="../../../assets/fotoperfil.jpg" 
        class="img-fluid" id="fotodeperfil">
    </div>
    <div class="col-xs-12 col-sm-2 col-md-2 col-lg-2">
        <p id="nombre">{{persona.nombre + " " + persona.apellido}}</p>
        <p>Full Stack Developer Jr</p>
    </div>
    <div class="col-xs-12 col-sm-8 col-md-8 col-lg-8">
        <span>
            <h1>Acerca de mi</h1>
            <p>Soy Victoria, Martillera y Corredora Publica, graduada en la Universidad Fasta de Mar del Plata, </p>
            <p> hoy por hoy dirigiendo mi propia oficina Inmobiliaria. </p>
            <p> Cursando actualmente el Proyecto Argentina Programa, con la intención de conseguir un trabajo </p>
            <p>en el área de programación en  un ambiente de innovación y crecimiento. </p>
        </span>
    </div>

</div>
