<div class="row">
    <h1>Educacion</h1>
    <div class="col-lg-2">
        <button type="button" class="btn btn-light" routerLink="/nuevaedu" *ngIf="isLogged">
           Agregar Educacion
        </button>
    </div>

    <div class="col-xs-12 col-sm-3 col-md-3 col-lg-1"> </div>
    <div class="col-xs-12 col-sm-3 col-md-3 col-lg-11">
        <table class="table">
            <tbody>
                <tr *ngFor="let Educacion of educacion">
                    <td><h4>{{Educacion.nombreE}}</h4></td>
                    <td>{{Educacion.descripcionE}}</td>
                    <td *ngIf="isLogged"><button class="btn btn-warning" routerLink="/editedu/{{Educacion.id}}"><i class="bi bi-pencil"></i> EDITAR</button></td>    
                    <td *ngIf="isLogged"><button class="btn btn-danger" (click)="delete(Educacion.id)"><i class="bi bi-trash"></i> BORRAR</button></td>
                </tr>
            </tbody>
    
        </table>
    </div>
   
</div>