<!--para sacar el porcentaje es el showUnits*-->

<div class="row">
    <h1>Hard and Soft skills</h1>
    <div class="text-center col-sm-4 col-md-4 col-lg4">
        <circle-progress 
            [percent]= " 85 " 
            [radius]= " 100 " 
            [showUnits]="false"  
            [title]="'HTML'"
            [titleColor]="'blue'"
            [showSubtitle]="false"
            [outerStrokeWidth]= " 4 " 
            [innerStrokeWidth]= " 2 " 
            [outerStrokeColor]= " 'pink' " 
            [innerStrokeColor]= " 'pink' " 
            [animation]="true" 
            [animationDuration]= " 300 " 
        ></circle-progress >
    </div>
    <div class="text-center col-sm-4 col-md-4 col-lg4">
        <circle-progress 
            [percent]= " 85 " 
            [radius]= " 100 " 
            [showUnits]="false"  
            [title]="'CSS'"
            [titleColor]="'blue'"
            [showSubtitle]="false"
            [outerStrokeWidth]= " 4 " 
            [innerStrokeWidth]= " 2 " 
            [outerStrokeColor]= " 'pink' " 
            [innerStrokeColor]= " 'pink' " 
            [animation]="true" 
            [animationDuration]= " 300 " 
        ></circle-progress >
    </div>
    <div class="text-center col-sm-4 col-md-4 col-lg4">
        <circle-progress 
            [percent]= " 85 " 
            [radius]= " 100 " 
            [showUnits]="false"  
            [title]="'JAVASCRIPT'"
            [titleColor]="'blue'"
            [showSubtitle]="false"
            [outerStrokeWidth]= " 4 " 
            [innerStrokeWidth]= " 2 " 
            [outerStrokeColor]= " 'pink' " 
            [innerStrokeColor]= " 'pink' " 
            [animation]="true" 
            [animationDuration]= " 300 " 
        ></circle-progress >
    </div>
    <div class="text-center col-sm-4 col-md-4 col-lg4">
        <circle-progress 
            [percent]= " 85 " 
            [radius]= " 100 " 
            [showUnits]="false"  
            [title]="'PYTHON'"
            [titleColor]="'blue'"
            [showSubtitle]="false"
            [outerStrokeWidth]= " 4 " 
            [innerStrokeWidth]= " 2 " 
            [outerStrokeColor]= " 'pink' " 
            [innerStrokeColor]= " 'pink' " 
            [animation]="true" 
            [animationDuration]= " 300 " 
        ></circle-progress >
    </div>
    <div class="text-center col-sm-4 col-md-4 col-lg4">
        <circle-progress 
            [percent]= " 85 " 
            [radius]= " 100 " 
            [showUnits]="false"  
            [title]="'MANDINGA'"
            [titleColor]="'blue'"
            [showSubtitle]="false"
            [outerStrokeWidth]= " 4 " 
            [innerStrokeWidth]= " 2 " 
            [outerStrokeColor]= " 'pink' " 
            [innerStrokeColor]= " 'pink' " 
            [animation]="true" 
            [animationDuration]= " 300 " 
        ></circle-progress >
    </div>
    <div class="text-center col-sm-4 col-md-4 col-lg4">
        <circle-progress 
            [percent]= " 85 " 
            [radius]= " 100 " 
            [showUnits]="false"  
            [title]="'CHIROLAS'"
            [titleColor]="'blue'"
            [showSubtitle]="false"
            [outerStrokeWidth]= " 4 " 
            [innerStrokeWidth]= " 2 " 
            [outerStrokeColor]= " 'pink' " 
            [innerStrokeColor]= " 'pink' " 
            [animation]="true" 
            [animationDuration]= " 300 " 
        ></circle-progress >
    </div>
</div>
